*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1400px;
    padding:0 30px;
    margin: auto;
}

body{
    /* background-color: rgb(231, 231, 231); */
}

.header{
    display: flex;
    align-items: center;
    background-color: rgb(50, 50, 99);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
}   

.logo{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.author{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.translit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.translit__inputs{

    display: flex;
    width: 100%;
    
}
.translit__panel{
    display: flex;
    padding: 10px 0;
    width: 100%;
}
.toggle__btn{
    background-color: none;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid rgb(50, 50, 99);
    color: rgb(50, 50, 99);
    cursor: pointer;
    border-radius: 3px;
    transition: background-color .3s ease;
}

.toggle__btn:hover{
    background-color:rgb(50, 50, 99) ;
    color: white;
}

.io{
    column-gap: 10px;
}   

.io__input{
    font-size: initial;
    width: 100%;
    resize: none;
    outline: none;
    border-radius: 0%;
    border:1px solid rgb(50, 50, 99);
    padding: 3px;
    aspect-ratio: 2/1;
    border-radius: 3px;

}
.io__input:focus{
    box-shadow: 0 0 2px black;
}

.io__input:hover{
    cursor:text ;
}

.io__input::-webkit-scrollbar{
    width: 3px;
    background-color: rgb(223, 223, 223);
}

.io__input::-webkit-scrollbar-thumb{
    background-color: rgb(133, 133, 133);
    border-radius: 5px;
}

.output{
    position: relative;
}
.output.copy-success::after{
    position: absolute;

    content:attr(data-copy-success);
    color: green;
    font-weight: 700;
    top: 100%;
}

@media screen and (max-width:700px) {
    .translit__inputs{
        row-gap: 10px;
        flex-direction: column;
        height: auto;
    }

    .io__input{
     aspect-ratio: 3/1;
    }
}